/* 
    Document   : datepicker
    Created on : 10/12/2013, 01:17:45 PM
    Author     : Eduardo Makoukdji
    Description:
        Purpose of the stylesheet follows.
*/

.ui-datepicker .ui-datepicker-header 
{
    position: relative !important; 
    padding: .2em 0 !important;
}

.ui-widget-header {
border: 0px !important;
background: rgba(111,204,187,1) !important;
color: #FFF !important;
font-weight: normal !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 0px solid #d3d3d3 !important;
background: #F5F5F5 !important;
font-weight: normal !important;
/*color: #2E62B4 !important;*/
font: 13px/22px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
border: 1px solid #fcefa1 !important;
background: #fbf9ee !important;
color: #363636 !important;
font: 13px/22px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, .ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus{
background: rgba(111,204,187,1) !important;
color: #FFF !important;
font: 13px/22px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 0px solid #aaa !important;
background: rgb(161, 177, 171) !important;
font-weight: normal !important;
color: #FFF !important ;
font: 13px/22px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
-moz-border-radius-bottomright: 0px !important;
-webkit-border-bottom-right-radius: 0px !important;
-khtml-border-bottom-right-radius: 0px !important;
border-bottom-right-radius: 0px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
-moz-border-radius-bottomleft: 0px !important;
-webkit-border-bottom-left-radius: 0px !important;
-khtml-border-bottom-left-radius: 0px !important;
border-bottom-left-radius: 0px !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
-moz-border-radius-topright: 0px !important;
-webkit-border-top-right-radius: 0px !important;
-khtml-border-top-right-radius: 0px !important;
border-top-right-radius: 0px !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
-moz-border-radius-topleft: 0px !important;
-webkit-border-top-left-radius: 0px !important;
-khtml-border-top-left-radius: 0px !important;
border-top-left-radius: 0px !important;
}

.ui-datepicker th 
{
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
    font: 13px/22px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

.ui-datepicker-title select
{
    font: 13px/22px "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    border:0px !important;
}