.diario,
.horas,
.rerate
{
        /*margin-top: 14px;*/
	background: rgba(0,0,0,0.03);
	border-radius: 5px;
	display: inline-block;
	float: left;
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	left: 750px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	position: absolute;
	top: 327px;
	width: 15%;
}
.diario ul li.cargados,
.horas ul li.cargados,
.rerate ul li.cargados,
 h5.cargados
{
	color:rgba(111,204,187,1);
	padding-left: 2em;
}

.rerate ul li.rangoDesde{
    margin-right: 1em;
    float: left;
}

.rerate ul li.rangoHasta{
    margin-right: 1.21em;
    float: left;
}
.diario ul li.nocargados,
.horas ul li.nocargados,
.rerate ul li.nocargados,
 h5.nocargados
{
	color:#8a1f11;
	padding-left: 2em;
}
.detallecarga
{
    margin-left: 25px;
}
.oculta
{
	display: none;
}
.transparente, .transparente2
{
	background: rgba(0,0,0,0.5);
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0px;
	width: 100%;
}
.interna, .interna2
{
	background: white;
	border-radius:10px;
	border:10px rgba(10,31,38,0.7) solid;
	display: inline-block;
	margin: 10% auto;
	padding: 5em 5em;
	text-align: center;
}
.error
{
	background:#FBE3E4;
	border-radius:10px;
	border:10px #FBC2C4 solid;
	color:#8a1f11;
	display: inline-block;
	margin: 10% auto;
	padding: 5em 5em;
	text-align: center;
}
.confirm
{
	background: white;
	border-radius:10px;
	border:10px rgba(10,31,38,0.7) solid;
	display: inline-block;
	margin: 10% auto;
	padding: 5em 5em;
	text-align: center;
}
.interna h1, .interna2 h1
{
	font-size: 3em;
}
.interna img, .interna2 img
{
	max-width: 256px;
	max-height: 51px;
}
.interna button
{
	width: 100px;
}
.confirm button
{
	width: 100px;
}
.interna p
{
	font-size: 1.2em;
	text-align: center;
}
.divCarrier
{
  margin-left: 8.6%;
  width:auto;
  height:400px;
  margin-top: 2em;
}
.divVendedor
{
  margin-left:300px;
}
.izquierda
{
    width: 30px;
    height: 30px;
    margin-left: 510px;
    margin-top: -110px;
    border-radius:250px 250px 250px 250px;
}
.derecha
{
    width: 30px;
    height: 30px;
    margin-left: 510px;
    margin-top: -80px;
    border-radius:250px 250px 250px 250px;
}
/*.tapa
{
  background-color:red;
  height:200px;
  margin-left:407px;
  margin-top:-192px;
  width:50px;
}*/
#options_right_all
{
    display:none;
}
#options_left_all
{
    display:none;
}
 .cargando
{
     background-color: black;
     height: 100%;
     position: fixed;
     text-align: center;
     top: 0px;
     width: 100%;
     content:"";
     opacity: .7; 
}
.mensaje
{
  background-color:white;
  border:solid threedshadow;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  color:#6E6E6E;
  top:20%;
  padding:23px 30px 43px 28px;
  position:fixed;
  text-align:center;
  width:490px;
  margin-left:30%;
}

.cancelar
{
    background-color:#FBC2C4;
    margin-top: 0px;
    margin-left: 150px;
    text-align: center;
    width: 90px;
    height: 35px;
    color:white;
    font-size: 18px;
}
.cancelar:hover
{
    background-color:#D19496;
    /*background: url(images/cancelarHover.png);*/
    margin-top: 0px;
    margin-left: 150px;
    text-align: center;
    width: 90px;
    height: 35px;
    color:white;
    font-size: 18px;
}
.confirma
{
    background-color:rgba(111,204,187,1);
    margin-top: -55px;
    margin-left: 245px;
    text-align: center;
    width: 90px;
    height: 35px;
    color:white;
    font-size: 18px;
}
.confirma:hover
{
    background-color:rgba(44, 139, 110, 1);
    margin-top: -55px;
    margin-left: 245px;
    text-align: center;
    width: 90px;
    height: 35px;
    color:white;
    font-size: 18px;
}

#welcome
{
    background: url(../img/arrow.png) no-repeat 90% 0;
    height: 19em;
    width: 79.9em; 
}
.divOculto
{
    margin-top: 45px;
    display: none;
}
.formularioContrato
{
    display: none;
}
.note
{
    display:none;
}
.SegundoNivel
{
margin-top:30px;    
}
.divOculto1
{
    width: 100%;
    margin-left: 850px;
    margin-top: -132px;
    display: none;
}
/*#Contrato_end_date,
#Contrato_sign_date,
#Contrato_production_date,
#Contrato_id_company,
#Contrato_id_termino_pago,
#Contrato_id_monetizable,
#Contrato_id_limites,
#Contrato_id_disputa
{
width: 20%;    
}*/
.manageractual
{
/*background-color: red; */
margin-top: 50px;
}
.pManager
{
    width: 20%;
    margin-left: 622px;
    margin-top: -38px;
    display: none;
}
.fechaFirma
{
    width: 100%;
    margin-left: 292px;
    margin-top: -82px;
}
.company
{
/*       width: 100%;
    margin-left: 570px;
    margin-top: -79px;*/
}
.fechaProduccion
{
    width: 100%;
    margin-left: 570px;
    margin-top: -80px;
}
.fechaFin
{
    width: 100%;
    margin-left: 850px;
    margin-top: -80px;
}
.TPago
{
/*    width: 20%;
    margin-left: 682px;
    margin-top: -35px;
    display: none;*/
}
.contratoForm{
    width: 24%;
    display: inline-block;
}
.contratoForm input, .contratoForm select {
    /*float: left;*/
    width: 90% !important;
}

@media screen and (max-width: 600px) { /* 13 / 390 */
    .contratoForm{ width: 45%;}
}
.monetizable
{
    width: 100%;
    margin-left: 292px;
    margin-top: -82px;
}
.disputa
{
    width: 100%;
    margin-left: 570px;
    margin-top: -84px;
}
.limites
{
    width: 100%;
    margin-left: 850px;
    margin-top: -84px;
}

.CarrierActual
{
/*    background-color:red;*/
    width: 658px;
    height: 40px;
    margin-left: 439px;
    margin-top: -70px;
    display: none; 
}
#Contrato_id_carrier
{
width: 46%;    
}
.carrierSelect
{
    position:relative;
    margin-top: 50px;  
}
.lineabajo
{
   background: url(../img/lineabajo.png) no-repeat 90% 0;
   height: 16em;
   width: 104px;
   position: absolute;
   margin-top: -65px;
   margin-left: 939px;
}
.destinationform
{
   float: left;
   width: 24%;
   display: inline-block;
}
#ZonaDestination_id_zona_geografica select,#ZonaDestination_id_destination select,.botAsignarDestination div{
    width: 90% !important;
    float: left;
}
@media screen and (max-width: 600px) { /* 13 / 390 */
   .botAsignarDestination .destinationform{ width: 45%;}
}
.valoresDestination
{   
    margin-left: 17%;
    width: 156%;
    padding-bottom: 75px
}
.botAsignarDestination
{
    margin-left: 20%;
    width: 24%;
    margin-top: 1%;
}
.valoresDocumento
{
    display:none;
} 
.formularioDocumento
{
    padding-top: 2%;
}
.AccountingDocumentTemp_id_type_accounting_document
{
    width: 76%; 
}

#botAsignar,#botAsignarContrato,#botAgregarDatosContable ,#botAgregarDatosContableFinal
{
  margin-left: 20%;width: 24%;
}
@media screen and (max-width: 600px) { /* 13 / 390 */
   #botAsignar,#botAsignarContrato,#botAgregarDatosContable, #botAgregarDatosContableFinal{ margin-left: 1%;}
}


.contratoFormTextArea,#AccountingDocumentTemp_note
{
    display: none;
    width: 97%;
}
.hacerUnaNota
{
    color:rgba(111,204,187,1);
}
.tablaVistDocTemporales
{
    background:rgba(111,204,187,1);
    margin-top: 2%;
    margin-left: 7%;
    display: none;
    font-weight:bold;
    color: white;
    border: none;
    text-align:center;
    border-bottom-color: rgba(111,204,187,1);
}

.tablaVistDocTemporales:hover
{
    /*background:rgba(44, 139, 110, 1);*/
    margin-top: 2%;
    margin-left: 7%;
    font-weight:bold;
    text-align:center;
    border: none;
}
.vistaTemp
{
    background:white;
    color: #555;
}
.vistaTemp:hover
{
    background:rgba(143, 206, 194, 1);
    color: white;
}
#botAgregarDatosContableFinal
{ 
    display:none;
}
/*.tablamensaje
{
    background:rgba(111,204,187,1);
    margin-top: 2%;
    margin-left: 7%;
    font-weight:bold;
    color: white;
    border: none;
    text-align:center;
    border-bottom-color: rgba(111,204,187,1);
}*/