.diario,
.horas,
.rerate
{
        /*margin-top: 14px;*/
	background: rgba(0,0,0,0.03);
	border-radius: 5px;
	display: inline-block;
	float: left;
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	left: 750px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	position: absolute;
	top: 240px;
	width: 15%;
}
.diario ul li.cargados,
.horas ul li.cargados,
.rerate ul li.cargados,
 h5.cargados
{
	color:rgba(111,204,187,1);
	padding-left: 2em;
}

.rerate ul li.rangoDesde{
    margin-right: 1em;
    float: left;
}

.rerate ul li.rangoHasta{
    margin-right: 1.21em;
    float: left;
}
.diario ul li.nocargados,
.horas ul li.nocargados,
.rerate ul li.nocargados,
 h5.nocargados
{
	color:#8a1f11;
	padding-left: 2em;
}
.detallecarga
{
    margin-left: 25px;
}
.oculta
{
	display: none;
}
.transparente, .transparente2
{
	background: rgba(0,0,0,0.5);
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0px;
	width: 100%;
}
.interna, .interna2
{
	background: white;
	border-radius:10px;
	border:10px rgba(10,31,38,0.7) solid;
	display: inline-block;
	margin: 10% auto;
	padding: 5em 5em;
	text-align: center;
}
.error
{
	background:#FBE3E4;
	border-radius:10px;
	border:10px #FBC2C4 solid;
	color:#8a1f11;
	display: inline-block;
	margin: 10% auto;
	padding: 5em 5em;
	text-align: center;
}
.confirm
{
	background: white;
	border-radius:10px;
	border:10px rgba(10,31,38,0.7) solid;
	display: inline-block;
	margin: 10% auto;
	padding: 5em 5em;
	text-align: center;
}
.interna h1, .interna2 h1
{
	font-size: 3em;
}
.interna img, .interna2 img
{
	max-width: 256px;
	max-height: 51px;
}
.interna button
{
	width: 100px;
}
.confirm button
{
	width: 100px;
}
.interna p
{
	font-size: 1.2em;
	text-align: center;
}
.divCarrier
{
  margin-left: 8.6%;
  width:auto;
  height:400px;
  margin-top: 2em;
}

#botAsignar
{
  margin-left:225px;
}
.divVendedor
{
  margin-left:300px;
}
.izquierda
{
    width: 30px;
    height: 30px;
    margin-left: 510px;
    margin-top: -110px;
    border-radius:250px 250px 250px 250px;
}
.derecha
{
    width: 30px;
    height: 30px;
    margin-left: 510px;
    margin-top: -80px;
    border-radius:250px 250px 250px 250px;
}
/*.tapa
{
  background-color:red;
  height:200px;
  margin-left:407px;
  margin-top:-192px;
  width:50px;
}*/
#options_right_all
{
    display:none;
}
#options_left_all
{
    display:none;
}


 .cargando
{
     background-color: black;
     height: 100%;
     position: fixed;
     text-align: center;
     top: 0px;
     width: 100%;
     content:"";
     opacity: .7; 
}

.mensaje
{
  background-color:white;
  border:solid threedshadow;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  color:#6E6E6E;
  margin-top:-917px;
  padding:23px 30px 43px 28px;
  position:fixed;
  text-align:center;
  width:490px;
  margin-left:calc((34% - 0em) - 76px);
}

.cancelar
{
    margin-top: 30px;
    margin-left: 150px;
    text-align: center;
    width: 90px;
    height: 45px;
}
.confirma
{
    margin-top: -45px;
    margin-left: 245px;
    text-align: center;
    width: 90px;
    height: 45px;
}

#welcome
{
    background: url(../img/arrow.png) no-repeat 90% 0;
    height: 19em;
    width: 79.9em; 
}
.divOculto
{
    display: none;
}
.divOculto1
{
    width: 100%;
    margin-left: 850px;
    margin-top: -32px;
    display: none;
}
#Contrato_end_date,
#Contrato_sign_date,
#Contrato_production_date,
#Contrato_id_company,
#Contrato_id_termino_pago,
#Contrato_id_monetizable,
#Contrato_id_limites,
#Contrato_id_disputa
{
width: 20%;    
}
#Contrato_id_managers
{
    border-bottom: none;
    border-style: none;
 width: 20%;    
}
.pManager
{
    width: 20%;
    margin-left: 682px;
    margin-top: -35px;
    display: none;
}
.fechaFirma
{
    width: 100%;
    margin-left: 292px;
    margin-top: -80px;
}
.company
{
/*    width: 20%;
    margin-left: 682px;
    margin-top: -35px;
    display: none;*/
}
.fechaProduccion
{
    width: 100%;
    margin-left: 570px;
    margin-top: -79px;
}
.fechaFin
{
    width: 100%;
    margin-left: 850px;
    margin-top: -79px;
}
.TPago
{
/*    width: 20%;
    margin-left: 682px;
    margin-top: -35px;
    display: none;*/
}
.monetizable
{
    width: 100%;
    margin-left: 292px;
    margin-top: -80px;
}
.disputa
{
    width: 100%;
    margin-left: 570px;
    margin-top: -79px;
}
.limites
{
    width: 100%;
    margin-left: 850px;
    margin-top: -81px;
}
.CarrierActual
{
    width: 60%;
    margin-left: 682px;
    margin-top: -20px;
    display: none;
}
#Contrato_id_carrier
{
width: 46.5%;    
}
