.diario,
.horas,
.rerate
{
	background: rgba(0,0,0,0.03);
	display: inline-block;
	width: 15%;
	position: absolute;
	float: left;
	font-size: 0.9em;
	left: 750px;
	top: 240px;
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	padding-left: 1em;
	padding-top: 1em;
	padding-right: 1em;
	border-radius: 5px;
}
.diario ul li.cargados,
.horas ul li.cargados,
.rerate ul li.cargados,
 h5.cargados
{
	padding-left: 2em;
	color:rgba(111,204,187,1);
	/*color: #20D532;*/
}
.diario ul li.nocargados,
.horas ul li.nocargados,
.rerate ul li.nocargados,
 h5.nocargados
{
	padding-left: 2em;
	color:#8a1f11;
}
.detallecarga{
    margin-left: 25px;
}
.oculta
{
	display: none;
}
.transparente
{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	top: 0px;
	position: fixed;
	text-align: center;
}
.interna
{
	margin: 10% auto;
	padding: 5em 5em;
	background: white;
	display: inline-block;
	border-radius:10px;
	border:10px rgba(10,31,38,0.7) solid;
	text-align: center;
}
.error
{
	margin: 10% auto;
	padding: 5em 5em;
	background:#FBE3E4;
        display: inline-block;
        border-radius:10px;
        border:10px #FBC2C4 solid;
        text-align: center;
	color:#8a1f11;
}
.confirm
{
	margin: 10% auto;
	padding: 5em 5em;
	background: white;
	display: inline-block;
	border-radius:10px;
	border:10px rgba(10,31,38,0.7) solid;
	text-align: center;

}
.interna h1
{
	font-size: 3em;
}
.interna button
{
	width: 100px;
}
.confirm button
{
	width: 100px;
}
/*.error
{
	margin: 15% auto;
	display: inline-block;
	padding: 5em 5em;
	background: #FBE3E4;
	border-radius:10px;
	border:10px #FBC2C4 solid;
	color:#8a1f11;
}*/
.interna p
{
	font-size: 1.2em;
	text-align: center;
}
/*.alerta
{
	margin: 15% auto;
	display: inline-block;
	padding: 5em 5em;
	background: #FFF6BF;
	border-radius:10px;
	border:10px #FFD324 solid;
	color:#514721;
}
.alerta p
{
	font-size: 1.2em;
	text-align: center;
}
.alerta button
{
	max-width: 10%;
	font-size: 1.2em;
	text-align: center;
}*/