/* 
    Document   : responsive
    Created on : 20/05/2014, 06:02:04 PM
    Author     : Pablo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
@media (max-width: 1200px) 
{
    .formPaymentTermnsSupplier, .formPaymentTermnsCustomer {margin: -47% -3% auto;}
}

@media screen and (max-width: 1034px) { 
    #select_right, #select_left{ width: 314px}
    .botAsignarDestination{margin-left: 14%;}
     .mensaje{margin-left: 22%;}
}
@media screen and (max-width: 914px) { 
    .CarrierDocument{ width: 76%; margin-top: -10.3%; margin-right: -199px;}
}
@media screen and (max-width: 640px) { 
    #select_left{ width: 455px; height: 150px; margin-left: -7%;}
    #select_right{width: 455px; height: 150px; margin-top: 0%; margin-left: -115.8%;}
    #options_left {margin-top: 386%;margin-right: -16%;}
    #options_right {margin-right: -16%;}
    .botAsignarDestination{margin-left: -5%; margin-top: 18%;}
    .destinationform {width: 101%; margin-left: -9%;}
    .mensaje{width: 88%;margin-left: 1%; margin-top: 94%; position: absolute;}
    .rigthName {margin-left: -116%; margin-top: 49%;}
    .leftName {margin-left: -7%; margin-top: 3%;}
    .cancelar, .cancelar:hover{margin-left:175px;}
    .confirma, .confirma:hover {margin-left: 275px;}
}
@media screen and (max-width: 600px) {
    .CarrierDocument{ width: 66%; margin-right: -64px;float: right;margin-top: -15.5%;}
    #botAsignar,#botAsignarContrato,#botAgregarDatosContable, #botAgregarDatosContableFinal, .AsignarCarrierGroup{ margin-left: 1%;}
    .botAsignarDestination .destinationform{ width: 45%;}
    .contratoForm{ width: 45%;}
}
@media screen and (max-width: 300px) { 
    #select_left{ width: 208px;height: 150px;}
    #select_right{width: 208px; height: 150px; margin-top: 0%; margin-left: -126%;}
    #options_left {margin-top: 386%;margin-right: 30%;}
    #options_right {margin-right: 26%;}
    .rigthName {margin-left: -127%; margin-top: 102%;}

    .divVendedor {margin-left: 19px;width: 135%;}
    .destinationform {width: 90%; margin-left: -9%;}

    .mensaje{width: 205px; margin-left: 1%; margin-top: 117%; position:absolute;}
    .cancelar, .cancelar:hover{margin-left:10px;}
    .confirma, .confirma:hover {margin-left: 109px;}
    .mensajeFinal {margin-left: 0%; margin-top: 100%; width: 77%; position:absolute;}
    .tablamensaje {margin-left: -9%}
    
    .SelectGrupo {width: 143%; margin-left: 3%;}
    .carrierSelect {width: 189%; margin-left: 3%;}
    .contratoForm {width: 96%; margin-left: 3%;}
    /*.GrupoOperadores {width: 96%; margin-left: 0%;}*/
    .input_largos{width: 144%; margin-left: 3%;}
    .CarrierDocument {margin-top: 0.9%; width: 144%; margin-right: -141px;}
    #AccountingDocumentTemp_note {width: 94%; margin-left: 1%;}
    #Managers_address {width: 55%; margin-left: 1%;}
    #GeographicZone_name_zona,#GeographicZone_color_zona {width: 87%; margin-left: 2%;}
    
    #botAsignarContrato{margin-left: -52%;}
    #botAsignar, .AsignarCarrierGroup, .botGuardarZonaColor{margin-left: -53%;margin-top: 12%;} 
    .botAsignarDestination{margin-left: -47%; margin-top: 30%;}
    #botAgregarDatosContable, #botAgregarDatosContableFinal, .G_ManagerNuevo{margin-left: -52%;}  
}

